@model UpdateCounterDto
@{
    ViewData["Title"] = "Sayaç Güncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-asp-for="Id"></input>
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Sayaç</label>
    <input type="text" asp-for="Count" class="form-control" />
    <br />
  
    <button class="btn btn-outline-dark">Güncelle</button>

</form>

