@model CreateContactDto
@{
    ViewData["Title"] = "İletişim Bilgisi Oluştur";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    <label>Email</label>
    <input type="text" asp-for="Email" class="form-control" />
    <br />
    <label>Harita</label>
    <input type="text" asp-for="MapUrl" class="form-control" />
    <br />
    <label>Telefon</label>
    <input type="text" asp-for="Phone" class="form-control" />
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>

</form>

